.App {
  text-align: center;
  background-color: #FF5858;
}

body {
  background-color: #420516;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root {
  height: 100vh;
  width: 100vw;
}


.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-right: 1em;
}

.App-header {
  background-color: #FF5858;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-dalek {
  font-family: "DalekPinpoint";
}